#body{
    margin: 0%;
}

#clothingSection{
    width: 100%;
    height: 50vh;
    background-color: blueviolet;
}

#accessoriesSection{
    width: 100%;
    height: 50vh;
    background-color: chartreuse;
}

.heading{
    color: red;
}